// Project fonts
$roboto-font-family = "Roboto, Arial, Helvetica, sans-serif"
$roboto-font-base-path = "../fonts/Roboto/"
$ptmono-font-family = "PT Mono"
$ptmono-font-base-path = "../fonts/PTMono/"
$robotocond-font-family = "Roboto Condensed"
$robotocond-font-base-path = "../fonts/RobotoCondensed/"
$fonts-formats = woff2 woff

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-300",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 300,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-400",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-italic",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	style: italic
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-500",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 500,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-700",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 700,
	style: normal
)

font-face(
    local_name: "Roboto",
	family: $roboto-font-family,
	file-name: "roboto-900",
	base-path: $roboto-font-base-path,
	formats: $fonts-formats,
	weight: 900,
	style: normal
)

font-face(
    local_name: "PTMono",
	family: $ptmono-font-family,
	file-name: "pt-mono-v7-latin_cyrillic-regular",
	base-path: $ptmono-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
    local_name: "RobotoCond",
	family: $robotocond-font-family,
	file-name: "roboto-condensed-v18-latin_cyrillic-regular",
	base-path: $robotocond-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
    local_name: "RobotoCond",
	family: $robotocond-font-family,
	file-name: "roboto-condensed-v18-latin_cyrillic-700",
	base-path: $robotocond-font-base-path,
	formats: $fonts-formats,
	weight: 700,
	style: normal
)