*,
*::after,
*::before
    box-sizing border-box

body
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6, ul
    margin 0
    padding 0

.container
    container()
    sm(max-width, rem(720))
    md(max-width, rem(960))
    lg(max-width, rem(960))
    xl(max-width, rem(1040))
    xxl(max-width, rem(1440))

.container-small
    container()
    sm(max-width, rem(540))
    md(max-width, rem(750))
    lg(max-width, rem(960))
    xl(max-width, rem(1140))
    xxl(max-width, rem(1200))

#smart_lp
    font-size calc(100vw/20)

    +md-block()
        font-size calc(100vw/48)

    +lg-block()
        font-size calc(100vw/120)

.smart_lp
    color $primary-text