section.section
	.container
		.intro
			.intro__left
				h1.intro__left-title Печатные платы
				.intro__left-content
					p.intro__left-text.intro__left-line производство и монтаж, поставка комплектующих, блоков и модулей
					button(type="submit").intro__left-btn Получить бесплатную консультацию
			.intro__right
				img(src="./img/content/intro/intro-bg-img.png", alt="Картинка").intro__bg-img
				img(src="./img/content/intro/intro-mb-bg.png", alt="Картинка").intro__mb-bg-img
				img(src="./img/content/intro/intro-img.png", alt="Картинка").intro__big-img
				img(src="./img/content/intro/mb-intro-img.png", alt="Картинка").intro__mb-big-img

