.intro
	display flex
	flex-direction column
	margin auto
	padding 3.625em 0 10.1875em

	+md-block()
		padding 4.8em 0 4.5em
		display flex
		flex-direction row
	
	+xl-block()
		padding 10.8125em 0 5.625em

	&__left
		order: 2

		+md-block()
			margin-left 4.125em
			padding-top 3.625em
			order: 1

		+lg-block()
			margin-left 0

		+xl-block()
			margin-right 4.375em
			width 51%

	&__left-title
		font-family 'Roboto Condensed'
		font-size 2.5rem
		line-height 1.2
		text-transform uppercase
		color #fff
		letter-spacing 0.07em
		padding-bottom 0.5em

		+md-block()
			font-size 3.75rem
			line-height 1.2
			text-transform uppercase
			color #fff
			letter-spacing 0.07em
			padding-bottom 0.5em

		+xl-block()
			font-size 5rem
			letter-spacing 0.07em
			padding-bottom 0.2em

	&__left-content
		display block
		margin-left: 3em

		+xl-block()
			margin-left 6.4375em

	&__left-text
		font-family 'PT Mono'
		color #ffffff
		font-size 1rem
		line-height 1.5
		font-weight 400
		position relative
		margin-bottom 1.7em
		margin-top 0

		+md-block()
			font-size 1.125rem
			margin-bottom 1.7em
			line-height 1.5	

		+xl-block()
			font-size 1.375rem
			line-height 1.5
			font-weight 400
			position relative
			margin-bottom 1.7em
			margin-top 0

	&__left-line
		&::before
			content: ""
			position: absolute
			width: 33px
			height: 2px
			background-color: #fff
			left: -11%
			top: 25%

			+xxl-block()
				left -16%

			+xl-block()
				width 66px
				height 2px
				left -24%

	&__left-btn
		font-size 1rem
		line-height 1.2
		font-family 'Roboto Condensed'
		font-weight bold
		color: #ffffff
		background-color #00B2FF
		border none
		border-radius 5px
		text-transform uppercase
		letter-spacing 0.05em
		max-width 23.75em
		height 3.4375em
		cursor pointer
		transition: 0.3s
		&:hover
			background-color #fff
			color: #00B2FF

		+md-block()
			width 25.4375em	

	&__right
		position relative
		padding-bottom 20px
		width 90%
		order 1

		+md-block()
			order: 2

		+xl-block()
			margin-right -5.1875em
			width 90%

		+xxl-block()
			width 49%	

	&__bg-img
		top -45%
		right -14%
		position absolute
		max-width 100%

		+md-block()
			position absolute
			display none

		+lg-block()
			top: -27%
			right 6%
			display block
		
		+lg-block()
			max-width 100%
			display block

	&__mb-bg-img
		position absolute
		display none

		+md-block()
			position absolute
			top -37%
			right -7%
			display block

		+lg-block()
			display none		

	&__big-img
		width 90%
		transform: translate(100px, -55px)

		+md-block()
			display none
			max-width 100%
			transform: none

		+lg-block()
			position: static
			width 100%
			display block

	&__mb-big-img
		top -6%
		right -7%
		display none

		+md-block()
			position absolute
			display block
			top -6%
			right -7%

		+lg-block()
			display none	