.header

	&__content
		display flex
		justify-content space-between	
		padding-top 2em

	&__info
		display flex
		align-items center

	&__phone
		font-size 1rem
		color #fff
		line-height 1.1
		text-decoration none
		font-family	'PT Mono'

		+md-block()
			margin-right 2.5em

	&__phone-img
		
		+lg-block()
			padding-right 1em

	&__mail
		margin-right 2.0625em
		text-decoration none
		font-size 1rem
		color #fff
		line-height 1.1
		text-decoration none
		font-family	'PT Mono'

		+lg-block()
			margin-right 5.625em

	&__mail-img

		+lg-block()
			padding-right 1.25em	

	&__mail-text
		vertical-align text-top
		display none

		+lg-block()
			display inline

	&__phone-text
		vertical-align text-top
		display none

		+lg-block()
			display inline

	&__call
		color #fff
		background-color transparent
		border 1px solid #ffffff
		border-radius 5px
		padding 0.675em 1.5em 0.575em
		font-size 0.875rem
		font-family 'Roboto Condensed'
		text-transform uppercase
		font-weight 700
		cursor pointer
		letter-spacing 0.1em
		transition: 0.3s
		&:hover
			color: #00B2FF
			background-color: #ffffff
		display none

		+md-block()
			display block	