header.header
	.container
		.header__content
			a(href="#").header__logo
				img(src="./img/content/header/logo.png", alt="Логотип").header__logo-img
			.header__info
				a(href="mailto:info@sd.ru").header__mail
					img(src="./img/content/header/mail.png", alt="Почта").header__mail-img
					span.header__mail-text info@sd.ru
				a(href="tel:+7 (495) 000 52 52").header__phone
					img(src="./img/content/header/phone-call.png", alt="Телефон").header__phone-img
					span.header__phone-text +7 (495) 000 52 52
				button(type="submit").header__call заказать звонок