section.section.section--company(style="background-image: url('./img/content/company/bg-company.png')")
	.container-small
		.company
			.cards
				.card.card--top
					+icon('stopwatch').card__stopwatch.card__icon
					h1.card__title Оперативные сроки
					p.card__text Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки
				.card.card--top
					+icon('hired').card__hired.card__icon
					h1.card__title Крупные поставщики
					p.card__text Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспичивает хорошее качество нашей продукции.
				.card
					+icon('detective').card__detective.card__icon
					h1.card__title Полная конфиденциальность
					p.card__text По желанию клиента  мы обеспечиваем полную конфеденциальность.
				.card
					+icon('tag').card__tag.card__icon
					h1.card__title Персонализация стоимости
					p.card__text Мы  подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.
			.descr
				img(src="./img/content/company/year.png", alt="Картинка-2005").descr__img
				.descr__content
					h1.descr__title О компании
					p.descr__text Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.<br><br>Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
					button(type="submit").descr__btn Подробнее