.section--company
	background-color #fff

.company
	position relative
	padding 7em 0 6.875em

.cards
	display flex
	flex-wrap wrap
	justify-content space-between
	cursor pointer

.card

	border 1px solid #ebebeb
	border-left 3px solid #00B2FF
	padding 2.5em 2.665em 3.0625em 2.8125em
	transition: .3s
	background-color: #ffffff
	z-index 1
	margin-bottom 1.875em

	+md-block()
		max-width 50%
		width calc(50% - 0.9375em)
		border 1px solid #ebebeb
		border-left 3px solid #00B2FF
		padding 2.5em 2.665em 3.0625em 2.8125em
		transition: .3s
		background-color: #ffffff
		z-index 1
		margin-bottom 1.875em

	&:hover
		background-color: #00b2ff
	&:hover &__title
		color #fff
	&:hover &__text
		color #fff

	&__stopwatch
		width 1.8125em
		height 2.1875em

	&__hired
		width 2.1875em
		height 2.1875em

	&__detective
		width 2.25em
		height 1.9375em

	&__tag
		width 2.1875em
		height 2.1875em

	&__title
		font-size 1.5rem
		font-family 'Roboto Condensed'
		font-weight normal
		line-height 1.45
		color: #00B2FF
		padding 0.6em 0 0.625em
		&:hover
			color #fff

	&__text
		font-size 1rem
		font-family 'PT Mono'
		line-height 1.4
		color #666666
		margin 0

.descr
	display flex
	margin-top 5em
	position relative

	&__img
		margin-left -30px
		display none

		+md-block()
			display block

	&__title
		font-family 'Roboto Condensed'
		font-size 2.25rem
		line-height 1.42
		color: #666666
		font-weight normal
		padding-bottom 0.45em

	&__text
		font-size 1rem
		line-height 1.4
		margin 0
		color #666666
		font-family 'PT Mono'
		margin-bottom 2.815em

	&__btn
		font-size 0.875rem
		line-height 1.1
		color #00b2ff
		font-family 'Roboto Condensed'
		font-weight bold
		width 12.9em
		height 3.22em
		border: 1px solid #00b2ff
		border-radius 5px
		background-color: transparent
		cursor pointer
		transition: .3s
		text-transform uppercase
		letter-spacing: 0.05px
		&:hover
			color: #ffffff
			background-color: #00b2ff