section.section.section-service
	.service
		.container-small
			.service__content
				p.service__text Service Device предлагает следующие товары и услуги
				.service__cards
					a(href="#").service__card-link(style="background-image: url('./img/content/service/service-1.png')")
						.service__card
							h1.service__card-title Производство печатных плат
							.service__card-arrow
								img(src="./img/content/service/service-arrow.png", alt="Стрелка").service__arrow-img
					a(href="#").service__card-link(style="background-image: url('./img/content/service/service-2.png')")
						.service__card
							h1.service__card-title Монтаж печатных плат
							.service__card-arrow
								img(src="./img/content/service/service-arrow.png", alt="Стрелка").service__arrow-img
					a(href="#").service__card-link(style="background-image: url('./img/content/service/service-3.png')")
						.service__card
							h1.service__card-title Производство печатных плат
							.service__card-arrow
								img(src="./img/content/service/service-arrow.png", alt="Стрелка").service__arrow-img
