.section--service
	background-color: #1B2D37

.service

	&__cards
		display flex
		justify-content space-between

	&__card
		background-repeat no-repeat
		background-size cover
		background-position: center

	&__card-link
		width calc(33.333% - 20px)
		height 38.75em
		text-decoration none
		position relative

	&__content
		padding 5.8125em 0 7.9375em

	&__text
		font-family 'Roboto Condensed'
		font-size 2.25rem
		line-height 1.42
		margin 0
		color: #ffffff
		font-weight normal
		padding-bottom 1em

	&__card-title
		font-size 1.25rem
		font-family 'Roboto Condensed'
		line-height 1.5
		color: #ffffff
		font-weight 400
		padding 2.65em 0 0 2.75em
		width 60%

	&__card-arrow
		width 3.9375em
		height 3.9375em
		position absolute
		display flex
		justify-content center
		align-items center
		background-color: #00B2FF
		border: none
		right 0
		bottom 0