.footer
	background-color: #fff

.footer-top
	display flex
	flex-wrap: wrap
	justify-content space-between
	padding 1.625em 0 3em

	+xl-block()
		padding 4.0625em 0 3.4375em
		flex-wrap nowrap

	&__logo
		display flex
		justify-content center
		width 100%
		margin-bottom 1.625em

		+md-block()
			margin-bottom 0
			width auto
			display block

	&__list
		list-style none

	&__socials
		display flex
		width 100%
		justify-content center
		flex-wrap wrap
		border-bottom: 2px solid #dcdddc
		padding-bottom 1.625em
		margin-bottom 2.375em

		+md-block()
			width 100%
			display flex
			justify-content space-between
			align-items center

		+xl-block()
			display block
			width auto
			border: none
			padding 0

	&__icons-link
		padding-left 0.97em
		&:first-child
			padding-left 0

	&__icons
		display flex
		width 100%
		justify-content center

		+md-block()
			width auto
			display block

		+xl-block()
			margin-top 3.3125em

	&__sections
		border-bottom 2px solid #dcdddc
		margin-bottom 1.75em
		width 100%

		+md-block()
			width auto
			border: none

		+xl-block()
			margin-left 13em	

	&__sections-title
		display flex
		font-size 0.9375rem
		line-height 1.1
		letter-spacing: 0.05em
		text-transform uppercase
		color: #1b2d37
		font-family 'Roboto Condensed'
		font-weight normal
		padding-bottom 1.815em

	&__sections-item
		font-size 0.9375em
		line-height 1.7
		font-family 'PT Mono'
		color: #1B2D37
		font-weight normal
		opacity: 0.5

	&__sections-item-link
		text-decoration none
		
		&:hover
			text-decoration underline

	&__availables
		display none
		padding-top 2.6em
		
		+xl-block()
			display block
			margin-left 4.063em

	&__availables-item
		font-size 0.9375em
		line-height 1.7
		font-family 'PT Mono'
		color: #1B2D37
		font-weight normal
		opacity 0.5

	&__available-item-link
		text-decoration none

		&:hover
			text-decoration underline	

	&__office
		width 100%

		+md-block()
			width auto

		+xl-block()
			margin-left 13.3875em

	&__office-item
		font-size 0.9375em
		line-height 1.7
		font-family 'PT Mono'
		color: #1B2D37
		font-weight normal
		opacity 0.5

	&__office-item-link
		text-decoration none

		&:hover
			text-decoration underline	

	&__office-title
		font-size 0.9375rem
		line-height 1.1
		letter-spacing: 0.05em
		text-transform uppercase
		color: #1b2d37
		font-family 'Roboto Condensed'
		font-weight normal
		padding-bottom 1.815em

	&__socials-item
		width 100%
		display flex
		justify-content center
		margin 0
		color: #1B2D37
		font-size 0.8em
		line-height 2
		text-transform uppercase
		font-family	'PT Mono'
		opacity 0.5
		margin-bottom 2em

		+md-block()
			margin-bottom 0
			display block
			width auto

		+xl-block()
			display none	

.footer-line
	width 100%
	height 2px
	background-color: #dcdddc

.footer-bottom
	display block
	padding 0.8975em 0 0.875em
	text-align center

	+md-block()
		display flex
		justify-content space-between
		text-align left

	&__item
		margin 0
		color: #1B2D37
		font-size 0.8em
		line-height 2
		text-transform uppercase
		font-family	'PT Mono'
		opacity 0.5

	&__one
		display none
		margin-right 5em

		+xl-block()
			display block

	&__two
		display none
		margin-right 10.8em

		+xl-block()
			display block

	&__link
		margin-bottom 1.25em

		+md-block()
			margin-bottom 0

		+xl-block()
			margin-right 34.5em	

	&__link
		color: #1B2D37
		font-size 0.8rem
		line-height 2
		text-transform uppercase
		text-decoration none
		font-family	'PT Mono'
		opacity 0.5
		&:hover
			text-decoration: underline

