footer.footer
	.container
		.footer-top
			.footer-top__socials
				.footer-top__logo
					img(src="./img/content/footer/logo.png", alt="Логотип")
				p.footer-top__socials-item 1999-2018 SD Service Devices
				.footer-top__icons
					a(href="#").footer-top__icons-link
						img(src="./img/content/footer/facebook.png", alt="Facebook").footer-top__icons-icon
					a(href="#").footer-top__icons-link
						img(src="./img/content/footer/ok.png", alt="Ok").footer-top__icons-icon
					a(href="#").footer-top__icons-link
						img(src="./img/content/footer/vk.png", alt="VK").footer-top__icons-icon

			.footer-top__sections
				h1.footer-top__sections-title Разделы сайта
				ul.footer-top__sections-list.footer-top__list
					a(href="#").footer-top__sections-item-link
						li.footer-top__sections-item О компании
					a(href="#").footer-top__sections-item-link
						li.footer-top__sections-item Продукты		
					a(href="#").footer-top__sections-item-link
						li.footer-top__sections-item Производство печатных плат			
					a(href="#").footer-top__sections-item-link
						li.footer-top__sections-item Монтаж печатных плат
					
			.footer-top__availables
				ul.footer-top__availables-list.footer-top__list
					a(href="#").footer-top__available-item-link
						li.footer-top__availables-item Комплектуюшие
					a(href="#").footer-top__available-item-link
						li.footer-top__availables-item Доставка
					a(href="#").footer-top__available-item-link
						li.footer-top__availables-item Контакты

			.footer-top__office
				h1.footer-top__office-title Наш офис
				ul.footer-top__office-list.footer-top__list
					a(href="#").footer-top__office-item-link
						li.footer-top__office-item г. Мытищи, Олимпийский проспект, д.10
					a(href="#").footer-top__office-item-link
						li.footer-top__office-item +7 (495) 589-40-50
					a(href="#").footer-top__office-item-link
						li.footer-top__office-item +7 (925) 003-87-67
					a(href="#").footer-top__office-item-link
						li.footer-top__office-item +7 (926) 926-080-79
	.footer-line
	.container
		.footer-bottom
			p.footer-bottom__item.footer-bottom__one Все права защищены
			p.footer-bottom__item.footer-bottom__two 1999-2018 SD Service Devices
			a(href="#").footer-bottom__item.footer-bottom__link Условия конфиденциальности
			p.footer-bottom__item.footer-bottom__four Developed by wow studio 0