section.section.section--consultation
	.container-small
		.consultation
			.consultation__content
				img(src="./img/content/consultation/consult-bg-img.png", alt="Картинка").consultation__consult-bg-img
				img(src="./img/content/consultation/consult-img.png", alt="Картинка").consultation__consult-img
			.consultation__forms
				h1.consultation__title Остались вопросы? Задайте их нам!
				p.consultation__text Мы проконсультируем Вас бесплатно
				form(action="URL").consultation__form
					input(type="name" placeholder="Имя").consultation__form-name
					input(type="tel" placeholder="Телефон" id="form-phone").consultation__form-phone
					textarea(type="text" placeholder="Ваш вопрос").consultation__form-quetion
					button(type="submit").consultation__form-btn Задать вопрос
					.consultation__form-checkbox
						input(type="checkbox" id="checkbox").consultation__checkbox
						label(for="checkbox").consultation__checkbox-label Я согласен на обработку персональных данных
			img(src="./img/content/consultation/form-img1.png", alt="Картинка").consultation__form-img.consultation__form-img-small
			img(src="./img/content/consultation/form-img2.png", alt="Картинка").consultation__form-img.consultation__form-img-big